/* bluishpink = rgba(250,203,224,1)*/
/* bluishpink-hover = rgba(255,150,224,.8)*/ 
/* gold = rgba(184,134,11,.4)*/
body {
    background-color: white;
}
.site-container {
    overflow: hidden;
}
.header {
    margin: 10px 5px 0px 5px;
    padding: 20px 15px 10px 15px;
    text-align: center;
}
.header-logo {
    margin: auto;
    margin-bottom: 10px;
}
.header-text {
    margin: 0;
    padding: 0;
    color: palegoldenrod;
    font-family: "Cookie", cursive;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
hr {
    width: 200%;
    margin-left: -50%;
    border: .5px solid lightgray;
}
.navbar-container {
    margin: 0px 5p 5px 5px;
    padding: 10px 15px 0px 15px;
    text-align: center;
}
.navbar-btn {
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    color: darkgray;
    border-radius: 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    transition: .3s;
}
.navbar-btn:active{
    color: darkgray;
    text-decoration: none;
}
.navbar-btn:visited{
    color: darkgray;
    text-decoration: none;
}
.navbar-btn:hover {
    color: rgba(184,134,11,.6);
    text-decoration: none;
}
.active {
    color: black;
    background-color: rgba(184,134,11,.4);
    border-radius: 10px;
}
.active:hover {
    color: white;
    background-color: rgba(184,134,11,.6);
    font-weight: none;
}
.active:active {
    color: black;
    text-decoration: none;
}
.active:visited {
    color: black;
    text-decoration: none;
}
.body-wrapper {
    text-align: left;
}
.img-wrapper {
    text-align: center;
}
.body-spacer {
    display: none;
}
.body-img-wide {
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
    max-height: 300px;
    border: 8px solid rgba(184,134,11,.4);
    border-radius: 5px;
}
.body-img-tall {
    margin: auto;
    margin-top: 10px;
    max-width: 100%;
    max-height: 600px;
    border: 8px solid rgba(184,134,11,.4);
    border-radius: 5px;
}
.body-text {
    margin: 10px 0px 10px 0px;
    padding: 0px 15px 0px 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
}
.body-header {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-family: "Playfair Display", cursive;
    font-size: 1.5em;
}
.body-header::first-letter{
    content:' ';
    margin-right 3px;
    padding-right: 3px;
    color: rgba(184,134,11,.8);
    font-family: "Tangerine", cursive;
    font-size: 2.2em;
    vertical-align: middle;
}
.contact-btn-wrapper {
    padding-top: 10px;
    text-align: center;
}
.footer {
    margin-bottom: 10px;
    padding: 5px 0px 15px 0px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.footer-btn-wrapper{
    text-align: center;
}
.footer-link {
    display: block;
    padding: 0px 10px 10px 10px;
    color: black;
    font-family: "Playfair Display", "Georgia";
    font-size: 1.2em;
}
.footer-link:hover {
    color: black;
    text-decoration: none;
}
.footer-link:active {
    color: black;
    text-decoration: none;
}
.footer-link:visited {
    color: black;
    text-decoration: none;
}
.footer-seperator {
    display: none;
    padding: 0px 10px 0px 10px;
    color: darkgray;
    font-size: 1.5em;
}
.footer-btn {
    display: inline-block;
    height: 35px;
    width: 60px;
    margin: 0px 8px 0px 8px;
    padding-top: 0px;
    color: black;
    border-radius: 10px;
    background-color: rgba(250,203,224,1);
    vertical-align: middle;
    font-size: 25px;
    transition: .3s;
}
.footer-btn:hover {
    color: white;
    background-color: rgba(255,150,224,.8);
    text-decoration: none;
}
.copywrite-wrapper {
    padding-top: 10px;
}
.copywrite-text {
    color: darkgray;
    font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 768px) {
    .navbar-btn {
        display: inline-block;
        width: 10%;
        vertical-align: middle;
        font-size: .9em;
        text-transform: uppercase;
    }
    .body-spacer{
        display: inherit;
    }
    .body-img-wide{
        margin-bottom: 10px;
    }
    .body-img-tall{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
    }
    .body-header {
        font-size: 2.3em;
    }
    .body-text {
        margin-top: 0px;
        padding-bottom: 10px;
    }
    .img-wrapper {
        padding: 10px;
        vertical-align: middle;
    }
    .no-top-image {
        margin: 10px;
        vertical-align: middle;
    }
    .footer-link {
        display: inline-block;
        padding: 0;
        font-size: 1.3em;
    }
    .footer-seperator {
        display: inline;
    }
    .footer-btn-wrapper {
        float: none;
    }
    .footer-btn {
        height: 35px;
        width: 35px;
        border-radius: 10px;
    }
    .footer-phone {
        float: none;
        margin-right: 0px;
        margin-bottom: 10px;
    }
}
