/* bluishpink = rgba(250,203,224,1)*/
/* bluishpink-hover = rgba(255,150,224,.8)*/
/* gold = rgba(184,134,11,.4)*/
html {
    transition: .3s;
}
body {
    background-color: white;
}
.site-container {
    overflow: hidden;
}
.header {
    overflow: none;
    margin: 10px 5px 0px 5px;
    padding: 20px 15px 0px 15px;
    text-align: center;
}
.header-logo {
    margin: auto;
    margin-bottom: 10px;
}
.header-text {
    margin: 0;
    padding: 0;
    color: palegoldenrod;
    font-family: "Cookie", cursive;
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px black;
}
hr {
    width: 200%;
    margin-left: -50%;
    border: .5px solid lightgray;
}
.hamburger-container{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.navbar-hamburger {
    width: 200%;
    height: 18px;
    margin-left: -50%;
    font-size: .8em;
    background-color: rgba(220,220,220,.8);
    border: none;
    transition: .3s;
    outline: none;
}
.navbar-hamburger:hover {
    color: white;
    background-color: rgba(250,203,224,1);
}
.navbar-wrapper {
    text-align: center;
}
.navbar-container {
    margin: 0px 5p 5px 5px;
    padding: 0px 15px 0px 15px;
    display: none;
    transition: .3s linear;
}
.navbar-btn {
    display: block;
    width: 100%;
    padding: 5px;
    background: none;
    color: darkgray;
    border-radius: 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: .3s;
}
.navbar-btn:active{
    color: darkgray;
    text-decoration: none;
}
.navbar-btn:visited{
    color: darkgray;
    text-decoration: none;
}
.navbar-btn:hover {
    color: rgba(184,134,11,.6);
    text-decoration: none;
}
.navbar-bottom {
    padding-bottom: 15px;
}
.active {
    color: black;
    background-color: rgba(184,134,11,.4);
    border-radius: 10px;
}
.active:hover {
    color: white;
    background-color: rgba(184,134,11,.6);
    font-weight: none;
}
.active:active {
    color: black;
    text-decoration: none;
}
.active:visited {
    color: black;
    text-decoration: none;
}
.body-wrapper {
    text-align: left;
}
.img-wrapper {
    text-align: center;
}
.body-spacer {
    display: none;
}
.body-img-wide {
    margin-top: 10px;
    max-height: 450px;
    max-width: 100%;
    font-size: 0;
    border: none;
    border-radius: 5px;
}
.body-img-tall {
    margin: auto;
    margin-top: 10px;
    max-height: 550px;
    font-size: 0;
    border: none;
    border-radius: 5px;
}
.body-text {
    margin: 10px 0px 10px 0px;
    padding: 0px 15px 0px 15px;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
}
.body-header {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-family: "Playfair Display", cursive;
    font-size: 1.5em;
}
.body-header::first-letter{
    content:' ';
    margin-right 3px;
    padding-right: 3px;
    color: rgba(184,134,11,.8);
    font-family: "Tangerine", cursive;
    font-size: 2.2em;
    vertical-align: middle;
}
.totop-container {
    margin-top: 10px;
    text-align: center;
}
.totop-btn {
    display: inline-block;
    width: 70px;
    height: 50px;
    color: black;
    background-color: white;
    font-size: 2em;
    border: 3px solid rgba(184,134,11,.4);
    outline: none;
    border-radius: 30px;
    transition: .3s;
}
.totop-btn:active {
    color: black;
}
totop-btn:visited {
    color: black;
}
.totop-btn:hover {
    color: white;
    background-color: rgba(184,134,11,.4);
}
.totop-icon {
    vertical-align: middle
}
.footer {
    margin-bottom: 10px;
    padding: 5px 0px 15px 0px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.footer-btn-wrapper{
    text-align: center;
}
.footer-link {
    display: block;
    padding: 0px 10px 10px 10px;
    color: black;
    font-family: "Playfair Display", "Georgia";
    font-size: 1.2em;
}
.footer-link:hover {
    color: black;
    text-decoration: none;
}
.footer-link:active {
    color: black;
    text-decoration: none;
}
.footer-link:visited {
    color: black;
    text-decoration: none;
}
.footer-seperator {
    display: none;
    padding: 0px 10px 0px 10px;
    color: darkgray;
    font-size: 1.5em;
}
.footer-btn {
    display: inline-block;
    height: 35px;
    width: 60px;
    margin: 5px 8px 0px 8px;
    padding-top: 0px;
    color: black;
    border-radius: 10px;
    background-color: rgba(250,203,224,1);
    vertical-align: middle;
    font-size: 25px;
    transition: .3s;
}
.footer-btn:hover {
    color: white;
    background-color: rgba(255,150,224,.8);
    text-decoration: none;
}
.copyright-wrapper {
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.copyright-text {
    color: darkgray;
    font-family: "Raleway", sans-serif;
}
@media only screen and (min-width: 768px) {
    header {
        padding-bottom: 0px;
    }
    header-logo{
        margin-bottom: 0px;
    }
    .navbar-hamburger {
        display: none;
    }
    .navbar-container {
        display: inline !important;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-btn {
        display: inline-block;
        width: 10%;
        vertical-align: middle;
        font-size: .9em;
        text-transform: uppercase;
    }
    .navbar-bottom {
        padding-bottom: 5px;
    }
    .body-spacer{
        display: inherit;
    }
    .body-img-wide{
        margin: auto;
        margin-bottom: 10px;
    }
    .body-img-tall{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
    }
    .body-header {
        font-size: 2.3em;
    }
    .body-text {
        margin-top: 0px;
        padding-bottom: 10px;
    }
    .img-wrapper {
        vertical-align: middle;
    }
    .no-top-image {
        margin: 10px;
        vertical-align: middle;
    }
    .totop-container {
        display: none;
    }
    .footer-link {
        display: inline-block;
        padding-bottom: 0px;
        font-size: 1.3em;
        vertical-align: middle;
    }
    .footer-seperator {
        display: inline;
        vertical-align: middle
    }
    .footer-btn-wrapper {
        float: none;
        vertical-align: middle;
    }
    .footer-btn {
        height: 35px;
        width: 35px;
        border-radius: 10px;
    }
    .copyright-wrapper {
        padding-top: 5px;
    }
}
